.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin: 0px 10px;
}

.nav img {
    width: 50px;
}
